
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0px 100px;
  padding: 20px 50px 0px 20px;
  border: 30px 20px 0px 30px;
  
}
.logo-text{
  margin: 0px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    
}
.client-section{
  align-items: center;
  display: flex;
  justify-content: center;
}
.company-logos{
  justify-content: center;
  align-items: center;
  display: flex;
}
.skills-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

}
.right-section{
  height: 700px;
  width: 700px;
}
.body-section-footer{
  display: flex;
 flex-direction: column;
  
  
}
.ancor-section-footer{
 display: flex;
 flex-direction: column;
}


.web-section-footer{
   display: flex;
   flex-direction: column;
}
.footer-body{
   display: flex;
   justify-content: space-between;
}

.adress-section-footer{
  margin: 0px;
  /* width: 80%; */
}

.copyright-section-footer{
  display: flex;
  justify-content: center;
}


    
    